{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}

  {{/*  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}  */}}
   
   {{/*  当flex子项（分类按钮）发生换行时，首行末尾按钮，中间行首尾两个按钮，末行首个按钮会显示出直角边框，所以这个js是给这些元素添加类名，以便设置样式  */}}
  {{ $js := resources.Get "js/btn-class-name.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
  {{/*  首页主体  */}}
  <div class="home">
    <div class="d-flex px-5 pt-6 leading-none sm:px-10" id="layout-wrapper">
      {{/*  左侧垂直菜单  */}}
        {{ partial "vertical-menu/vertical-menu.html" . }}
        {{/*  文章区  */}}
        <div class="main-content" style="width: 100%;">
          {{/*  分类筛选器  */}}
          <div class="cate-filter d-flex flex-wrap align-content-center justify-content-center">

            {{- if .Site.Taxonomies.categories -}}
              <div class="btn-group btn-group-toggle mb-2 mr-4">
                <button class="btn btn-light active" data-filter="all">全部</button>
                {{- range .Site.Taxonomies.categories -}}
                  <button class="btn btn-light" data-filter="{{ .Page.Title | urlize }}">{{ .Page.Title }}</button>
                {{- end -}}
              </div>
            {{- end -}}

          </div>
          {{/*  文章卡片区  */}}
            {{ partial "posts-list.html" . }}
            <footer>
              {{ partial "footer.html" . }}
            </footer>
        </div>
    </div>
  </div>
{{ end }}
