// ==============================
// Variables
// ==============================

// ========== Global ========== //
// 字体与行高
// neue-haas-unica是HackTheBox默认字体
$global-font-family:
    neue-haas-unica,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Emoji,
    Helvetica,
    Arial,
    sans-serif !important;
$global-font-size: 18px !important;
$global-font-weight: 400 !important;
$global-line-height: 2rem !important;

// 背景颜色
$global-background-color: #141d2b !important;

// 文字颜色
$global-text-color: #d8dce3 !important;

//圆角大小
$small-radius: 0.25rem !important;
$big-radius: 7px;

// ========== 页眉 ========== //
// 页眉行高
$header-text-height: 1.5rem !important;
//页眉高度
$header-height: 60px !important;

// 页眉字体和大小
$header-title-font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Emoji,
    Helvetica,
    Arial,
    sans-serif !important;
$header-title-font-size: 16px !important;
$header-title-font-weight: 600 !important; // 页眉背景颜色
$header-background-color: #23334a !important;

// 页眉菜单项被选中颜色
$header-hover-color: #9fef00 !important;

// 搜索栏
$search-background-color: #111927 !important;
$search-icon-font-weight: 900;
$search-icon-font: "Font Awesome 6 Duotone" !important;
$search-icon-backcolor: #1a2332 !important;
// ========== 页眉 ========== //

// ========== 分类 ========== //
$cate-color: #fff !important;
$cate-background-color: #1a2332 !important;
$cate-selected-background-color: #9fef00 !important;
// ========== 分类 ========== //

// ==========卡片 ==========//
$card-title-color: #d8dde9 !important;
$card-title-hover: #9fef00 !important;
// ==========卡片 ==========//

// ==========垂直菜单 ==========//
$vertical-background-color: #111927;
$vertical-text-color: #a4b1cd !important;

// 页脚
$footer-height: 60px;
$footer-background-color: #273344 !important;
$footer-text-color: #a6b0cf !important;
