{{- /* 统计文章数 */}}
{{- /* 之前采用len Site.RegularPages 统计，多计算出三篇，这里已修复*/}}
{{- /* 1. 先筛选出 posts 分区下的页面 */ -}}
{{- $posts := where .Site.RegularPages "Section" "posts" -}}
{{- /* 2. 统计数量 */ -}}
{{- $totalPosts := len $posts -}}

{{- /* 统计总字数 */}}
{{- $totalWords := 0 -}}
{{- range .Site.RegularPages -}}
  {{- $totalWords = add $totalWords .WordCount -}}
{{- end -}}
{{- $totalWordsK := div $totalWords 1000.0 | printf "%.1f" -}} {{- /* 转换为 k 单位并保留一位小数 */ -}}

{{- /* 统计分类数 */}}
{{- $totalCategories := len .Site.Taxonomies.categories -}}

{{- /* 统计标签数 */}}
{{- $totalTags := len .Site.Taxonomies.tags -}}

<section>
  <table style="width: 100%; text-align: center; border-collapse: collapse;">
    <tr>
      <td>
        <div style="font-size: 2em; font-weight: bold;">{{ $totalWordsK }}k</div>
        <div>{{ i18n "word"}}</div>
      </td>
      <td>
        <div style="font-size: 2em; font-weight: bold;">{{ $totalPosts }}</div>
        <div>{{ i18n "post"}}</div>
      </td>
      <td>
        <div style="font-size: 2em; font-weight: bold;">{{ $totalCategories }}</div>
        <div>{{ i18n "category"}}</div>
      </td>
      <td>
        <div style="font-size: 2em; font-weight: bold;">{{ $totalTags }}</div>
        <div>{{ i18n "tag"}}</div>
      </td>
    </tr>
  </table>
</section>